<template>
  <div>
    <b-contrainer fluid>
      <b-row>
        <b-col class="text-right">
          <b-button variant="primary" @click="addNew">เพิ่มใหม่</b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="productItems" :fields="fields">
            <template #cell(operators)="{ item }">
              <b-button @click="editProduct(item)">แก้ไข</b-button
              ><b-button class="ml-1" variant="danger" @click="delProduct(item)"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-contrainer>
  </div>
</template>
<script>
export default {
  methods: {
    editProduct (item) {},
    delProduct (item) {},
    addNew () {}
  },
  data () {
    return {
      fields: [
        { key: 'productId', label: 'ไอดี' },
        { key: 'name', label: 'ชื่อสินค้า' },
        { key: 'price', label: 'ราคา' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      productItems: [
        { productId: 1, name: 'IPad gen9 64G wifi', price: 10000.0 },
        { productId: 2, name: 'IPad gen10 64G wifi', price: 20000.0 },
        { productId: 3, name: 'IPad gen11 64G wifi', price: 30000.0 },
        { productId: 4, name: 'IPad gen12 64G wifi', price: 40000.0 },
        { productId: 5, name: 'IPad gen13 64G wifi', price: 50000.0 }
      ]
    }
  }
}
</script>
<style></style>
