<template>
  <div>
    <b-button @click="addNew" variant="primary">เพิ่มสินค้า</b-button>
    <b-modal
      id="modal-product"
      ref="modalProduct"
      title="สิ้นค้า"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="form-group-product-name"
          label="ชื่อสืนค้า"
          label-for="product-name"
        >
          <b-form-input
            type="text"
            id="product-name"
            placeholder="ชื่อสืนค้า IphoneXX"
            v-model="form.name"
            :state="validName"
            autofocus
          ></b-form-input>
          <b-form-invalid-feedback :state="validName">
            ความยาวอย่างน้อย 3 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group
          id="form-group-product-price"
          label="ราคาสืนค้า"
          label-for="product-price"
          ><b-form-input
            type="number"
            id="product-price"
            placeholder="ชื่อสืนค้า IphoneXX"
            v-model="form.price"
            :state="validPrice"
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validPrice">
            ราคาสินค้าต้องไม่น้อยกว่าหรือเท่ากับ 0 บาท
          </b-form-invalid-feedback>
          <b-button type="submit" variant="primary">Submit</b-button
          ><b-button type="reset" class="ml-1" variant="danger">Reset</b-button>
        </b-form-group>
      </b-form>
      <b-card>
        <pre>
        {{ form }}
      </pre
        >
      </b-card>
    </b-modal>
  </div>
</template>
<script>
export default {
  props: {
    product: {
      type: Object
    }
  },
  data () {
    return {
      form: {
        _id: '',
        name: '',
        price: 0
      },
      isAddNew: false
    }
  },
  computed: {
    validName () {
      return this.form.name.length >= 3
    },
    validPrice () {
      return this.form.price !== '' && this.form.price >= 0
    },
    validForm () {
      return this.validPrice && this.validName
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalProduct.show()
    },
    submit () {
      const product = JSON.parse(JSON.stringify(this.form))
      product.price = parseFloat(product.price)
      this.$emit('save', product)
      this.reset()
    },
    reset () {
      this.form = {
        id: -1,
        name: '',
        price: 0
      }
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        this.form._id = this.product._id
        this.form.name = this.product.name
        this.form.price = this.product.price
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      if (!this.validForm) return
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-product')
      })
    }
  }
}
</script>
<style></style>
